<section>
	<img class="story-img title-img" src="assets/images/{{{doc.titleImg}}}.png" alt="{{{doc.titleImgAlt}}}">
	<div class="byline">
		<p>by <a href="#">Erin Davis</a>. Illustrations by <a href="#">Liana Sposto</a> </p>
	</div>
	<p class="text-large">{{{doc.fairyAlt}}}</p>


	<img class="story-img fairy-img" src="assets/images/{{{doc.fairy}}}.png" alt="{{{doc.fairyAlt}}}">
	{{#each doc.introText}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div id="fairy-2" class="fairy-wrapper-2">
		<img class="fairy-2-svg" inline src='fairy-2.svg'>
		<img class="story-img fairy-img-2" src="assets/images/{{{doc.fairy_2}}}.png" alt="{{{doc.fairy_2Alt}}}">

	</div>

	{{#each doc.postFairy}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<img class="story-img parser-img" src="assets/images/{{{doc.parser}}}.png" alt="{{{doc.parserAlt}}}">
	{{#each doc.quiz}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div class="quiz-images">
		<div class="swiper-container">
    <!-- Additional required wrapper -->
	    <div class="swiper-wrapper">
        <div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0000_Layer-Comp-1.png" alt="">
				</div>
        <div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0001_Layer-Comp-2.png" alt="">
				</div>
        <div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0002_Layer-Comp-3.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0003_Layer-Comp-4.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0004_Layer-Comp-5.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0005_Layer-Comp-6.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0006_Layer-Comp-7.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0007_Layer-Comp-8.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0008_Layer-Comp-9.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0009_Layer-Comp-10.png" alt="">
				</div>
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>

	    <!-- If we need navigation buttons -->
	    <div class="swiper-button-prev"></div>
	    <div class="swiper-button-next"></div>
		</div>
		<div class="score-output">

		</div>
	</div>

	{{#each doc.postQuiz}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div id="body-graphic" class="graphic-wrapper">
		<div class="graphic">
			<div class="graphic-title">
				<p class="graphic-title-hed">{{{doc.bodyImgTitle}}}</p>
				<div class="body-graphic-legend">
					<div class="left">
						<p class="text-exp">more frequently used for <span>women</span></p>
						<div class="circles-left circles">
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
						</div>
					</div>
					<p class="center-text">gender<br>skew</p>
					<div class="right">
						<div class="circles-right circles">
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
						</div>
						<p class="text-exp">more frequently used for <span>men</span></p>
					</div>
				</div>
			</div>
			<img class="body-img head-zoomed" inline src='body_22.svg'>
		</div>
		<div class="story">
			{{#each doc.bodyScroller}}
				<div class="step">
					<div class="prose-wrapper">
						{{#each value}}
							<p class="prose">{{{para}}}</p>
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	{{#each doc.adj}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<img class="story-img hermione-img" src="assets/images/{{{doc.hermioneImg}}}.png" alt="{{{doc.hermioneImgAlt}}}">
	<!-- <img class="story-img hermione-img antialias" src="assets/images/{{{doc.hermioneImg}}}.png" alt="{{{doc.hermioneImgAlt}}}"> -->
	{{#each doc.adjPre}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<img class="story-img hermione-img-2" src="assets/images/{{{doc.hermioneImgTwo}}}.png" alt="{{{doc.hermioneImgTwoAlt}}}">
	{{#each doc.adjPreChart}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div id="adj-graphic" class="graphic-wrapper">
		<div class="graphic">
			<div class="graphic-title">
				<p class="graphic-title-hed">{{{doc.adjTitle}}}</p>
			</div>
			<div class="part-selector">

			</div>
			<div class="chart">
			</div>
		</div>
		<div class="story">
			{{#each doc.adjScroller}}
				<div class="step">
					<div class="prose-wrapper">
						{{#each value}}
							<p class="prose">{{{para}}}</p>
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	{{#each doc.conclusion}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<img class="story-img end-img" src="assets/images/{{{doc.endImg}}}.png" alt="">

</section>
