<section>
	<img class="story-img title-img" src="assets/images/{{{doc.titleImg}}}.png" alt="{{{doc.titleImgAlt}}}">
	<div class="byline">
		<p>by <a href="#">Erin Davis</a>. Illustrations by <a href="#">Liana Sposto</a> </p>
	</div>
	<p class="text-large">{{{doc.fairyAlt}}}</p>

	<img class="story-img fairy-img" src="assets/images/{{{doc.fairy}}}.png" alt="{{{doc.fairyAlt}}}">
	{{#each doc.introText}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<img class="story-img fairy-img-2" src="assets/images/{{{doc.fairy_2}}}.png" alt="{{{doc.fairy_2Alt}}}">
	{{#each doc.postFairy}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<img class="story-img parser-img" src="assets/images/{{{doc.parser}}}.png" alt="{{{doc.parserAlt}}}">
	{{#each doc.quiz}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div class="quiz-images">
		<div class="swiper-container">
    <!-- Additional required wrapper -->
	    <div class="swiper-wrapper">
        <div class="swiper-slide">
					<img src="assets/images/quiz-image.png" alt="">
				</div>
        <div class="swiper-slide">
					<img src="assets/images/quiz-image.png" alt="">
				</div>
        <div class="swiper-slide">
					<img src="assets/images/quiz-image.png" alt="">
				</div>
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>

	    <!-- If we need navigation buttons -->
	    <div class="swiper-button-prev"></div>
	    <div class="swiper-button-next"></div>
		</div>
	</div>
	{{#each doc.postQuiz}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div id="body-graphic" class="graphic-wrapper">
		<div class="graphic">
			<div class="graphic-title">
				<p class="graphic-title-hed">{{{doc.bodyImgTitle}}}</p>
				<p class="graphic-title-dek">{{{doc.bodyImgDek}}}</p>
			</div>
			<img class="body-img" inline src='body_20.svg'>

		</div>
		<div class="story">
			{{#each doc.bodyScroller}}
				<div class="step">
					<div class="prose-wrapper">
						{{#each value}}
							<p class="prose">{{{para}}}</p>
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	{{#each doc.adj}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<img class="story-img hermione-img" src="assets/images/{{{doc.hermioneImg}}}.png" alt="{{{doc.hermioneImgAlt}}}">
	<!-- <img class="story-img hermione-img antialias" src="assets/images/{{{doc.hermioneImg}}}.png" alt="{{{doc.hermioneImgAlt}}}"> -->
	{{#each doc.adjPre}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<img class="story-img hermione-img-2" src="assets/images/{{{doc.hermioneImgTwo}}}.png" alt="{{{doc.hermioneImgTwoAlt}}}">
	{{#each doc.adjPreChart}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div id="adj-graphic" class="graphic-wrapper">
		<div class="graphic">
			<div class="graphic-title">
				<p class="graphic-title-hed">{{{doc.adjTitle}}}</p>
				<p class="graphic-title-dek">{{{doc.adjDek}}}</p>
			</div>
			<div class="part-selector">

			</div>
			<div class="chart">
			</div>
		</div>
		<div class="story">
			{{#each doc.adjScroller}}
				<div class="step">
					<div class="prose-wrapper">
						{{#each value}}
							<p class="prose">{{{para}}}</p>
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	{{#each doc.conclusion}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<img class="story-img end-img" src="assets/images/{{{doc.endImg}}}.png" alt="">

</section>
