<section>
	<p class="logo-wrapper">A project from the <a class="text-underline" href="/">The Pudding</a></p>
	<div class="title-wrapper">
		<div class="mobile-svg">
			<img class="title-svg" inline src='title-svg-mobile-2.svg'>
		</div>
		<div class="desktop-svg">
			<img class="title-svg" inline src='title-svg-4.svg'>
		</div>



		<picture>
		   <source
			 		media="(orientation: landscape)"
		      srcset="assets/images/title_1920.png 1920w, assets/images/title_1200.png 1200w, assets/images/title_750.png 750w, assets/images/title_500.png 500w"
		      sizes="(max-width: 960px) 100vw, 960px"
			 />

			 <source
	         media="(orientation: portrait)"
	         srcset="assets/images/title_mobile_1500.png 1500w, assets/images/title_mobile_1000.png 1000w, assets/images/title_mobile_750.png 750w, assets/images/title_mobile_500.png 500w"
	         sizes="100vw">
		   <img class="story-img title-img" src="assets/images/{{{doc.titleImg}}}.png" alt="{{{doc.titleImgAlt}}}">
		</picture>



		<!-- <img class="story-img title-img" src="assets/images/title-mobile-2.png" alt="{{{doc.titleImgAlt}}}"> -->
		<!-- <img class="story-img title-img" src="assets/images/{{{doc.titleImg}}}.png" alt="{{{doc.titleImgAlt}}}"> -->
	</div>

	<div class="byline">
		<p>by <a href="https://pudding.cool/author/erin-davis/">Erin Davis</a>. Illustrations by <a href="https://pudding.cool/author/liana-sposto/">Liana Sposto</a> </p>
	</div>
	<div class="butterfly">

	</div>
	<p class="text-large">{{{doc.fairyAlt}}}</p>

	<picture>
		 <source
				 srcset="assets/images/fairy_1920.png 1920w, assets/images/fairy_1200.png 1200w, assets/images/fairy_750.png 750w, assets/images/fairy_500.png 500w"
				 sizes="(max-width: 500px) 500px, 100vw"
		 >
		 <img class="story-img fairy-img" src="assets/images/{{{doc.fairy}}}.png" alt="{{{doc.fairyAlt}}}">
	</picture>
	{{#each doc.introText}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div id="fairy-2" class="fairy-wrapper-2">




		<img class="fairy-2-svg" inline src='fairy-2.svg'>

		<picture>
			 <source
					 srcset="assets/images/fairy_2_1200.png 1200w, assets/images/fairy_2_900.png 900w, assets/images/fairy_2_700.png 700w, assets/images/fairy_2_400.png 400w"
					 sizes="(max-width: 600px) 600px, 100vw"
			 >
			 <img class="story-img fairy-img-2" src="assets/images/fairy_2.png" alt="{{{doc.fairy_2Alt}}}">
		</picture>


	</div>

	{{#each doc.postFairy}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	<div id="parser" class="parser-wrapper">
		<img class="parser-svg" inline src='parser-1-4.svg'>
		<picture>
			 <source
					 srcset="assets/images/parser_1200.png 1200w, assets/images/parser_900.png 900w, assets/images/parser_700.png 700w, assets/images/parser_400.png 400w"
					 sizes="(max-width: 600px) 600px, 100vw"
			 >
			 <img class="story-img parser-img" src="assets/images/{{{doc.parser}}}.png" alt="{{{doc.parserAlt}}}">
		</picture>

	</div>

	{{#each doc.quiz}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div class="quiz-images">
		<div class="swiper-container">
    <!-- Additional required wrapper -->
	    <div class="swiper-wrapper">
        <div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0000_Layer-Comp-1.png" alt="">
				</div>
        <div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0002_Layer-Comp-3.png" alt="">
				</div>
        <div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0006_Layer-Comp-7.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0008_Layer-Comp-9.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0004_Layer-Comp-5.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0001_Layer-Comp-2.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0009_Layer-Comp-10.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0003_Layer-Comp-4.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0005_Layer-Comp-6.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/BodyParts-quiz-final_0007_Layer-Comp-8.png" alt="">
				</div>
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>

	    <!-- If we need navigation buttons -->
	    <div class="swiper-button-prev"></div>
	    <div class="swiper-button-next"></div>
		</div>
		<div class="score-output">

		</div>
	</div>
	<div class="post-quiz-text-wrapper">
	{{#each doc.postQuiz}}
		<p class='prose post-quiz-text'>{{{value}}}</p>
	{{/each}}
	</div>


	<div class="puff">

	</div>

	<div id="body-graphic" class="graphic-wrapper">
		<div class="graphic">
			<div class="graphic-title">
				<p class="graphic-title-hed">{{{doc.bodyImgTitle}}}</p>
				<div class="body-graphic-legend">
					<div class="left">
						<p class="text-exp">more frequently used for <span>women</span></p>
						<div class="circles-left circles">
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
						</div>
					</div>
					<p class="center-text">gender<br>skew</p>
					<div class="right">
						<div class="circles-right circles">
							<div class="circle"></div>
							<div class="circle"></div>
							<div class="circle"></div>
						</div>
						<p class="text-exp">more frequently used for <span>men</span></p>
					</div>
				</div>
			</div>
			<!-- <img class="body-img head-zoomed" inline src='body_export16-9.svg'> -->
			<img class="body-img head-zoomed" inline src='body_22.svg'>
			<div class="author-filter">
				<p>Authors:</p>
				<div class="author-filter-wrapper">
					<input id='body-author-all' type='radio' name='body-author' value='all' checked>
          <label for='body-author-all'>All</label>
					<input id='body-author-male' type='radio' name='body-author' value='men'>
          <label for='body-author-male'>Men</label>
          <input id='body-author-female' type='radio' name='body-author' value='women'>
          <label for='body-author-female'>Women</label>
				</div>
			</div>
		</div>
		<div class="story">
			{{#each doc.bodyScroller}}
				<div class="step">
					<div class="prose-wrapper">
						{{#each value}}
							<p class="prose">{{{para}}}</p>
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	<div class="brush">

	</div>

	{{#each doc.adj}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	<div id="hermione" class="hermione-wrapper">
		<img class="hermione-svg" inline src='hermione-1-3.svg'>

		<picture>
			 <source
					 srcset="assets/images/hermione_1200.png 1200w, assets/images/hermione_900.png 900w, assets/images/hermione_700.png 700w, assets/images/hermione_400.png 400w"
					 sizes="(max-width: 600px) 600px, 100vw"
			 >
			 <img class="story-img hermione-img" src="assets/images/{{{doc.hermioneImg}}}.png" alt="{{{doc.hermioneImgAlt}}}">
		</picture>


	</div>


	<!-- <img class="story-img hermione-img antialias" src="assets/images/{{{doc.hermioneImg}}}.png" alt="{{{doc.hermioneImgAlt}}}"> -->
	{{#each doc.adjPre}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	<div id="hermione-text" class="hermione-wrapper-text">
		<img class="hermione-text-svg" inline src='hermione-text.svg'>
	</div>

	<div id="hermione-2" class="hermione-wrapper-2">
		<img class="hermione-2-svg" inline src='hermione-2-2.svg'>

		<picture>
			<source
				 srcset="assets/images/hermione_2_1200.png 1200w, assets/images/hermione_2_900.png 900w, assets/images/hermione_2_700.png 700w, assets/images/hermione_2_400.png 400w"
				 sizes="(max-width: 450px) 450px, 100vw"
		 	 >
			 <img class="story-img hermione-img-2" src="assets/images/{{{doc.hermioneImgTwo}}}.png" alt="{{{doc.hermioneImgTwoAlt}}}">
		</picture>




	</div>




	{{#each doc.adjPreChart}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div id="adj-graphic" class="graphic-wrapper">
		<div class="graphic">
			<div class="graphic-title">
				<p class="graphic-title-hed">{{{doc.adjTitle}}}</p>
			</div>
			<div class="part-selector">

			</div>
			<div class="chart">
			</div>
			<div class="author-filter">
				<p>Authors:</p>
				<div class="author-filter-wrapper">
					<input id='adj-author-all' type='radio' name='adj-author' value='all' checked>
          <label for='adj-author-all'>All</label>
					<input id='adj-author-male' type='radio' name='adj-author' value='men'>
          <label for='adj-author-male'>Men</label>
          <input id='adj-author-female' type='radio' name='adj-author' value='women'>
          <label for='adj-author-female'>Women</label>
				</div>
			</div>
		</div>
		<div class="story">
			{{#each doc.adjScroller}}
				<div class="step">
					<div class="prose-wrapper">
						{{#each value}}
							<p class="prose">{{{para}}}</p>
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>
	</div>
	{{#each doc.conclusion}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div id="end" class="end-wrapper">
		<img class="end-2-svg" inline src='end-1.svg'>

		<picture>
			<source
					srcset="assets/images/end_1400.png 1400w, assets/images/end_1000.png 1000w, assets/images/end_700.png 700w, assets/images/end_500.png 500w"
					sizes="(max-width: 700px) 700px, 100vw"
			>
			<img class="story-img end-img" src="assets/images/{{{doc.endImg}}}.png" alt="">
		</picture>




	</div>



</section>
